---
http_interactions:
- request:
    method: get
    uri: http://api.giphy.com/v1/gifs/search?api_key=dc6zaTOxFJmzC&q=angry
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |2-

        {"data":[{"type":"gif","id":"yI9YaxO7OCz5K","url":"http:\/\/giphy.com\/gifs\/angry-frustrated-yI9YaxO7OCz5K","bitly_gif_url":"http:\/\/gph.is\/YBEwGZ","bitly_url":"http:\/\/gph.is\/YBEwGZ","embed_url":"http:\/\/giphy.com\/embed\/yI9YaxO7OCz5K","username":"","source":"http:\/\/big--time---orgy.tumblr.com\/post\/29251065001\/damn-i-forgot-it-i-might-die-now","rating":"g","caption":"","content_url":"","import_datetime":"1970-01-01 00:00:00","trending_datetime":"1970-01-01 00:00:00","images":{"fixed_height":{"url":"http:\/\/media4.giphy.com\/media\/yI9YaxO7OCz5K\/200.gif","width":"518","height":"200","size":"388734","mp4":"http:\/\/media4.giphy.com\/media\/yI9YaxO7OCz5K\/200.mp4","mp4_size":"25384","webp":"http:\/\/media4.giphy.com\/media\/yI9YaxO7OCz5K\/200.webp","webp_size":"433526"},"fixed_height_still":{"url":"http:\/\/media4.giphy.com\/media\/yI9YaxO7OCz5K\/200_s.gif","width":"518","height":"200"},"fixed_height_downsampled":{"url":"http:\/\/media4.giphy.com\/media\/yI9YaxO7OCz5K\/200_d.gif","width":"518","height":"200","size":"381565","webp":"http:\/\/media4.giphy.com\/media\/yI9YaxO7OCz5K\/200_d.webp","webp_size":"144314"},"fixed_width":{"url":"http:\/\/media4.giphy.com\/media\/yI9YaxO7OCz5K\/200w.gif","width":"200","height":"77","size":"81485","mp4":"http:\/\/media4.giphy.com\/media\/yI9YaxO7OCz5K\/200w.mp4","mp4_size":"27039","webp":"http:\/\/media4.giphy.com\/media\/yI9YaxO7OCz5K\/200w.webp","webp_size":"82474"},"fixed_width_still":{"url":"http:\/\/media4.giphy.com\/media\/yI9YaxO7OCz5K\/200w_s.gif","width":"200","height":"77"},"fixed_width_downsampled":{"url":"http:\/\/media4.giphy.com\/media\/yI9YaxO7OCz5K\/200w_d.gif","width":"200","height":"77","size":"85450","webp":"http:\/\/media4.giphy.com\/media\/yI9YaxO7OCz5K\/200w_d.webp","webp_size":"27572"},"fixed_height_small":{"url":"http:\/\/media4.giphy.com\/media\/yI9YaxO7OCz5K\/100.gif","width":"259","height":"100","size":"388734","mp4":"http:\/\/media4.giphy.com\/media\/yI9YaxO7OCz5K\/100.mp4","mp4_size":"208627","webp":"http:\/\/media4.giphy.com\/media\/yI9YaxO7OCz5K\/100.webp","webp_size":"124622"},"fixed_height_small_still":{"url":"http:\/\/media4.giphy.com\/media\/yI9YaxO7OCz5K\/100_s.gif","width":"259","height":"100"},"fixed_width_small":{"url":"http:\/\/media4.giphy.com\/media\/yI9YaxO7OCz5K\/100w.gif","width":"100","height":"39","size":"81485","mp4":"http:\/\/media4.giphy.com\/media\/yI9YaxO7OCz5K\/100w.mp4","mp4_size":"65471","webp":"http:\/\/media4.giphy.com\/media\/yI9YaxO7OCz5K\/100w.webp","webp_size":"31274"},"fixed_width_small_still":{"url":"http:\/\/media4.giphy.com\/media\/yI9YaxO7OCz5K\/100w_s.gif","width":"100","height":"39"},"downsized":{"url":"http:\/\/media4.giphy.com\/media\/yI9YaxO7OCz5K\/giphy.gif","width":"500","height":"193","size":"1022903"},"downsized_still":{"url":"http:\/\/media4.giphy.com\/media\/yI9YaxO7OCz5K\/giphy_s.gif","width":"500","height":"193"},"downsized_large":{"url":"http:\/\/media4.giphy.com\/media\/yI9YaxO7OCz5K\/giphy.gif","width":"500","height":"193","size":"1022903"},"original":{"url":"http:\/\/media4.giphy.com\/media\/yI9YaxO7OCz5K\/giphy.gif","width":"500","height":"193","size":"1022903","frames":"18","mp4":"http:\/\/media4.giphy.com\/media\/yI9YaxO7OCz5K\/giphy.mp4","mp4_size":"85900","webp":"http:\/\/media4.giphy.com\/media\/yI9YaxO7OCz5K\/giphy.webp","webp_size":"404026"},"original_still":{"url":"http:\/\/media4.giphy.com\/media\/yI9YaxO7OCz5K\/giphy_s.gif","width":"500","height":"193"}}},{"type":"gif","id":"110gOs75GuUWyY","url":"http:\/\/giphy.com\/gifs\/angry-throwing-coach-110gOs75GuUWyY","bitly_gif_url":"http:\/\/gph.is\/13Bb0pV","bitly_url":"http:\/\/gph.is\/13Bb0pV","embed_url":"http:\/\/giphy.com\/embed\/110gOs75GuUWyY","username":"","source":"http:\/\/www.reactiongifs.com\/tag\/angry\/page\/5\/","rating":"pg","caption":"","content_url":"","import_datetime":"2013-07-23 15[...]
