---
http_interactions:
- request:
    method: get
    uri: http://api.giphy.com/v1/gifs/search?api_key=dc6zaTOxFJmzC&q=happy
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |2-

        {"data":[{"type":"gif","id":"7pZSFcwBv3Bde","url":"http:\/\/giphy.com\/gifs\/reaction-emotion-7pZSFcwBv3Bde","bitly_gif_url":"http:\/\/gph.is\/1h70F9T","bitly_url":"http:\/\/gph.is\/1h70F9T","embed_url":"http:\/\/giphy.com\/embed\/7pZSFcwBv3Bde","username":"","source":"http:\/\/www.tumblr.com","rating":"y","caption":"","content_url":"","import_datetime":"2014-02-19 18:52:51","trending_datetime":"1970-01-01 00:00:00","images":{"fixed_height":{"url":"http:\/\/media2.giphy.com\/media\/7pZSFcwBv3Bde\/200.gif","width":"250","height":"200","size":"45451","mp4":"http:\/\/media2.giphy.com\/media\/7pZSFcwBv3Bde\/200.mp4","mp4_size":"18443","webp":"http:\/\/media2.giphy.com\/media\/7pZSFcwBv3Bde\/200.webp","webp_size":"91366"},"fixed_height_still":{"url":"http:\/\/media2.giphy.com\/media\/7pZSFcwBv3Bde\/200_s.gif","width":"250","height":"200"},"fixed_height_downsampled":{"url":"http:\/\/media2.giphy.com\/media\/7pZSFcwBv3Bde\/200_d.gif","width":"250","height":"200","size":"64968","webp":"http:\/\/media2.giphy.com\/media\/7pZSFcwBv3Bde\/200_d.webp","webp_size":"78314"},"fixed_width":{"url":"http:\/\/media2.giphy.com\/media\/7pZSFcwBv3Bde\/200w.gif","width":"200","height":"160","size":"35331","mp4":"http:\/\/media2.giphy.com\/media\/7pZSFcwBv3Bde\/200w.mp4","mp4_size":"20700","webp":"http:\/\/media2.giphy.com\/media\/7pZSFcwBv3Bde\/200w.webp","webp_size":"66296"},"fixed_width_still":{"url":"http:\/\/media2.giphy.com\/media\/7pZSFcwBv3Bde\/200w_s.gif","width":"200","height":"160"},"fixed_width_downsampled":{"url":"http:\/\/media2.giphy.com\/media\/7pZSFcwBv3Bde\/200w_d.gif","width":"200","height":"160","size":"48373","webp":"http:\/\/media2.giphy.com\/media\/7pZSFcwBv3Bde\/200w_d.webp","webp_size":"56754"},"fixed_height_small":{"url":"http:\/\/media2.giphy.com\/media\/7pZSFcwBv3Bde\/100.gif","width":"125","height":"100","size":"45451","mp4":"http:\/\/media2.giphy.com\/media\/7pZSFcwBv3Bde\/100.mp4","mp4_size":"33291","webp":"http:\/\/media2.giphy.com\/media\/7pZSFcwBv3Bde\/100.webp","webp_size":"31224"},"fixed_height_small_still":{"url":"http:\/\/media2.giphy.com\/media\/7pZSFcwBv3Bde\/100_s.gif","width":"125","height":"100"},"fixed_width_small":{"url":"http:\/\/media2.giphy.com\/media\/7pZSFcwBv3Bde\/100w.gif","width":"100","height":"80","size":"35331","mp4":"http:\/\/media2.giphy.com\/media\/7pZSFcwBv3Bde\/100w.mp4","mp4_size":"24177","webp":"http:\/\/media2.giphy.com\/media\/7pZSFcwBv3Bde\/100w.webp","webp_size":"22836"},"fixed_width_small_still":{"url":"http:\/\/media2.giphy.com\/media\/7pZSFcwBv3Bde\/100w_s.gif","width":"100","height":"80"},"downsized":{"url":"http:\/\/media2.giphy.com\/media\/7pZSFcwBv3Bde\/giphy.gif","width":"200","height":"160","size":"33775"},"downsized_still":{"url":"http:\/\/media2.giphy.com\/media\/7pZSFcwBv3Bde\/giphy_s.gif","width":"200","height":"160"},"downsized_large":{"url":"http:\/\/media2.giphy.com\/media\/7pZSFcwBv3Bde\/giphy.gif","width":"200","height":"160","size":"33775"},"original":{"url":"http:\/\/media2.giphy.com\/media\/7pZSFcwBv3Bde\/giphy.gif","width":"200","height":"160","size":"33775","frames":"7","mp4":"http:\/\/media2.giphy.com\/media\/7pZSFcwBv3Bde\/giphy.mp4","mp4_size":"50097","webp":"http:\/\/media2.giphy.com\/media\/7pZSFcwBv3Bde\/giphy.webp","webp_size":"61674"},"original_still":{"url":"http:\/\/media2.giphy.com\/media\/7pZSFcwBv3Bde\/giphy_s.gif","width":"200","height":"160"}}},{"type":"gif","id":"dwZOgH1bBCwco","url":"http:\/\/giphy.com\/gifs\/happy-hamtaro-dwZOgH1bBCwco","bitly_gif_url":"http:\/\/gph.is\/XIJCF9","bitly_url":"http:\/\/gph.is\/XIJCF9","embed_url":"http:\/\/giphy.com\/embed\/dwZOgH1bBCwco","username":"","source":"http:\/\/hamtarogifs.tumblr.com\/post\/43259774351","rating":"y","caption":"","content_url":"","import_datetime":"2013-03-22 05:58:13","trendi[...]
