---
http_interactions:
- request:
    method: get
    uri: http://api.giphy.com/v1/gifs/search?api_key=dc6zaTOxFJmzC&q=silly
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |2-

        {"data":[{"type":"gif","id":"5BGuUEO8pTFx6","url":"http:\/\/giphy.com\/gifs\/looney-tunes-bugs-bunny-5BGuUEO8pTFx6","bitly_gif_url":"http:\/\/gph.is\/1hcnFZW","bitly_url":"http:\/\/gph.is\/1hcnFZW","embed_url":"http:\/\/giphy.com\/embed\/5BGuUEO8pTFx6","username":"","source":"http:\/\/www.hobolunchbox.com\/post\/87072249305\/have-some-bugs","rating":"y","caption":"","content_url":"","import_datetime":"2014-05-28 04:16:07","trending_datetime":"1970-01-01 00:00:00","images":{"fixed_height":{"url":"http:\/\/media3.giphy.com\/media\/5BGuUEO8pTFx6\/200.gif","width":"267","height":"200","size":"452517","mp4":"http:\/\/media3.giphy.com\/media\/5BGuUEO8pTFx6\/200.mp4","mp4_size":"57204","webp":"http:\/\/media3.giphy.com\/media\/5BGuUEO8pTFx6\/200.webp","webp_size":"542550"},"fixed_height_still":{"url":"http:\/\/media3.giphy.com\/media\/5BGuUEO8pTFx6\/200_s.gif","width":"267","height":"200"},"fixed_height_downsampled":{"url":"http:\/\/media3.giphy.com\/media\/5BGuUEO8pTFx6\/200_d.gif","width":"267","height":"200","size":"224979","webp":"http:\/\/media3.giphy.com\/media\/5BGuUEO8pTFx6\/200_d.webp","webp_size":"85514"},"fixed_width":{"url":"http:\/\/media3.giphy.com\/media\/5BGuUEO8pTFx6\/200w.gif","width":"200","height":"150","size":"310572","mp4":"http:\/\/media3.giphy.com\/media\/5BGuUEO8pTFx6\/200w.mp4","mp4_size":"73282","webp":"http:\/\/media3.giphy.com\/media\/5BGuUEO8pTFx6\/200w.webp","webp_size":"343446"},"fixed_width_still":{"url":"http:\/\/media3.giphy.com\/media\/5BGuUEO8pTFx6\/200w_s.gif","width":"200","height":"150"},"fixed_width_downsampled":{"url":"http:\/\/media3.giphy.com\/media\/5BGuUEO8pTFx6\/200w_d.gif","width":"200","height":"150","size":"139865","webp":"http:\/\/media3.giphy.com\/media\/5BGuUEO8pTFx6\/200w_d.webp","webp_size":"54604"},"fixed_height_small":{"url":"http:\/\/media3.giphy.com\/media\/5BGuUEO8pTFx6\/100.gif","width":"133","height":"100","size":"452517","mp4":"http:\/\/media3.giphy.com\/media\/5BGuUEO8pTFx6\/100.mp4","mp4_size":"103418","webp":"http:\/\/media3.giphy.com\/media\/5BGuUEO8pTFx6\/100.webp","webp_size":"178318"},"fixed_height_small_still":{"url":"http:\/\/media3.giphy.com\/media\/5BGuUEO8pTFx6\/100_s.gif","width":"133","height":"100"},"fixed_width_small":{"url":"http:\/\/media3.giphy.com\/media\/5BGuUEO8pTFx6\/100w.gif","width":"100","height":"75","size":"310572","mp4":"http:\/\/media3.giphy.com\/media\/5BGuUEO8pTFx6\/100w.mp4","mp4_size":"79181","webp":"http:\/\/media3.giphy.com\/media\/5BGuUEO8pTFx6\/100w.webp","webp_size":"113534"},"fixed_width_small_still":{"url":"http:\/\/media3.giphy.com\/media\/5BGuUEO8pTFx6\/100w_s.gif","width":"100","height":"75"},"downsized":{"url":"http:\/\/media3.giphy.com\/media\/5BGuUEO8pTFx6\/giphy.gif","width":"500","height":"375","size":"1995455"},"downsized_still":{"url":"http:\/\/media3.giphy.com\/media\/5BGuUEO8pTFx6\/giphy_s.gif","width":"500","height":"375"},"downsized_large":{"url":"http:\/\/media3.giphy.com\/media\/5BGuUEO8pTFx6\/giphy.gif","width":"500","height":"375","size":"1995455"},"original":{"url":"http:\/\/media3.giphy.com\/media\/5BGuUEO8pTFx6\/giphy.gif","width":"500","height":"375","size":"1995455","frames":"38","mp4":"http:\/\/media3.giphy.com\/media\/5BGuUEO8pTFx6\/giphy.mp4","mp4_size":"189844","webp":"http:\/\/media3.giphy.com\/media\/5BGuUEO8pTFx6\/giphy.webp","webp_size":"1441480"},"original_still":{"url":"http:\/\/media3.giphy.com\/media\/5BGuUEO8pTFx6\/giphy_s.gif","width":"500","height":"375"}}},{"type":"gif","id":"OTQcSHJ9oBlYI","url":"http:\/\/giphy.com\/gifs\/crazy-silly-sky-high-OTQcSHJ9oBlYI","bitly_gif_url":"http:\/\/gph.is\/1hclfWl","bitly_url":"http:\/\/gph.is\/1hclfWl","embed_url":"http:\/\/giphy.com\/embed\/OTQcSHJ9oBlYI","username":"","source":"http:\/\/www.tumblr.com","rating":"pg","caption":"","content_url":"","import_datetime":"2014-02-21 02:12:02","trending_datetime":"201[...]
