<!DOCTYPE html>
<html>
  <head>
    <title></title>
  </head>

  <body>
   

    <h1>Welcome to the Giphy Mood Generator!</h1>
    <h4>Enter a mood below to see some relevant giphs:</h4>
    <form action="/moods" method="POST">
      <input type="text" name="keyword">
      <input type="submit", value="Submit">
    </form>


  </body>
</html>